/* General Styling */
.coverage table td,
.coverage table th {
    padding-right: 1em;
}

/* Code Blocks */
.code .line {
    font-family: monospace;
    white-space: pre;
}

.code .line.hit,
.code .line.hit a {
    color: green;
}

.code .line.missed,
.code .line.missed a {
    color: red;
}

.code .line.both,
.code .line.both a {
    color: orange;
}

/* Trace Styling */
.trace {
    margin: 1em 0;
    border: 1px solid #ccc;
    padding: 0 1em;
}

.trace .step {
    margin: 1em 0;
}

.trace .step .cbmc,
.trace .step .header,
.trace .step .code {
    font-family: monospace;
    white-space: pre;
    margin-left: 1em;
}

.trace .function-body {
    border-left: 1px solid blue;
    margin-left: 1em;
    padding-left: 0.5em;
    display: none; /* Initially hidden */
}

/* Trace Header and Navigation */
#trace-header,
#trace-navigation ul,
#trace-description ul {
    border: 1px solid #ccc;
    padding: 0 1em;
    margin: 0;
}

#trace-navigation p,
#trace-description p {
    margin: 0;
}
